
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}


.navbar {
    background-color: #222;
    color: rgb(197, 35, 35);
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar a {
    color: rgb(196, 179, 179);
    text-decoration: none;
}

.navbar a:hover {
    color: #dd160f;
}


.container {
    padding: 30px;
}


.image-section img {
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
}


.video-section iframe {
    border-radius: 8px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ccc;
}

tr:nth-child(even) {
    background-color: #eee;
}


.form-section form {
    max-width: 400px;
}

.form-section label {
    display: block;
    margin-top: 10px;
}

.form-section input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background-color: #222;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ff9800;
}


.map-section iframe {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 8px;
}


footer {
    background-color: #071602;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

footer a {
    color: #3bbd10;
    text-decoration: none;
}

